$primary-font: Montserrat, sans-serif;

$accent-color: #dc56c5;
$secondary-color: #ffffff;

$primary-text-color: #0e0e0e;
$bg-btn-color: #4c00fe;
$modal-secondary-color: #4c00fe;
$input-text-color: #939393;
$modal-bg: #fff2fd;
$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
$btn-add-favorites: rgba(209, 178, 1, 0.734);