<footer class="footer">
    <div class="container">
    <p class="footer-copyright">© 2021 | All Rights Reserved | Developed with
    <span class="footer-heart"> &#10084</span> by <a href class="footer-students"> GoIT Students</a></p>
        <div class="backdrop-footer is-hidden-footer">
            <div class="footer-modal">
                <button class="modal-close-footer">
                </button>
            <ul class="students-info line-first">
                <li class="students-item">
                    <img class="students-foto" src="/images/students/AnnaChebrova.jpg" alt="Anna Chebrova">
                    <h4 class="students-name">Анна Чеброва</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/AnnaChebrova"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon">
                            <a target="_blank" href="https://www.linkedin.com/in/%D0%B0%D0%BD%D0%BD%D0%B0-%D1%87%D0%B5%D0%B1%D1%80%D0%BE%D0%B2%D0%B0-654a92214/">
                        <svg> <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
                <li class="students-item">
                    <img class="students-foto" src="/images/students/YriiHvozdetskiy.jpg" alt="Yrii Hvozdetskiy">
                    <h4 class="students-name">Юрий Гвоздецкий</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/YriiHvozdetskiy"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/yrii-hvozdetskiy-2976211a9/">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
                <li class="students-item">
                    <img class="students-foto" src="/images/students/kyrylo-moskalenko.jpg" alt="Kyrylo Moskalenko">
                    <h4 class="students-name">Кирилл Москаленко</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/Kylory"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/kyrylo-moskalenko-948a36138">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="students-info line-second">
                <li class="students-item">
                    <img class="students-foto" src="/images/students/VasylBarna.jpg" alt="Vasyl Barna">
                    <h4 class="students-name">Василий Барна</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/VasylBarna"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/%D0%B2%D0%B0%D1%81%D0%B8%D0%BB%D1%8C-%D0%B1%D0%B0%D1%80%D0%BD%D0%B0-453a30188/">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
                <li class="students-item">
                    <img class="students-foto" src="/images/students/Serhii Nefedov.jpg" alt="Сергей Нефедов">
                    <h4 class="students-name">Сергей Нефедов</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/Serhii-Nefedov"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/serhii-nefedov-582412215/">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </li>
                <li class="students-item">
                    <img class="students-foto" src="/images/students/denis-singh.jpg" alt="Denis Singh">
                    <h4 class="students-name">Денис <br> Сингх</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/DenisSgh"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/denis-singh-643381207/">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
               <li class="students-item">
                    <img class="students-foto" src="/images/students/Bovkun Andrii.jpg" alt="Bovkun Andrii">
                    <h4 class="students-name">Андрей Бовкун</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/BovkunAndrii"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/андрей-бовкун-6a1a92214">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="students-info line-third">
                <li class="students-item">
                    <img class="students-foto" src="/images/students/larysa-kaliuzhna.jpg" alt="Larysa Kaliuzhna">
                    <h4 class="students-name">Лариса Калюжная</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/Larysa1387"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/larysa-kaliuzhna-22a6b8207">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
                <li class="students-item">
                     <img class="students-foto" src="/images/students/Irina Gashevskaya.jpg" alt="Irina Gashevskaya">
                     <h4 class="students-name">Ирина Гашевская</h4>
                     <ul>
                         <li class="students-icon">
                             <a target="_blank" href ="https://github.com/IrinaGashevskaya"> 
                                 <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                             </svg></a>
                         </li>
                         <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/%D1%96%D1%80%D0%B8%D0%BD%D0%B0-%D0%B3%D0%B0%D1%88%D0%B5%D0%B2%D1%81%D1%8C%D0%BA%D0%B0-421365215/">
                         <svg>
                         <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                         </svg></a>
                         </li>
                     </ul>
                </li>
                <li class="students-item">
                    <img class="students-foto" src="/images/students/Mykola Kizan.jpg" alt="Mykola Kizan">
                    <h4 class="students-name">Николай Кизан</h4>
                    <ul>
                        <li class="students-icon">
                            <a target="_blank" href ="https://github.com/mkizan"> 
                                <svg> <use href="/images/symbol-defs.svg#icon-github"></use>
                            </svg></a>
                        </li>
                        <li class="students-icon"><a target="_blank" href="https://www.linkedin.com/in/mykola-kizan-99349a215/">
                        <svg>
                        <use href="/images/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </footer>