.cards-list {
  position: relative;
  top: -44px;
  left: 0;
  z-index: 16;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 320px) {
    margin: -7px;
  }
  @media screen and (min-width: 768px) {
    margin: -13px;
  }
  @media screen and (min-width: 1280px) {
    margin: -35px;
    // margin: -50px -35px;
  }
}
.event-card {
  position: relative;
  text-align: center;
  margin: 7px 7px 30px 7px;
  @media screen and (min-width: 320px) {
    width: 128px;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
    margin: 13px 14px 45px 14px;
  }
  @media screen and (min-width: 1280px) {
    // margin: 35px 35px 50px 35px;
    margin: 35px;
    transition: transform 250ms $time-distribution-function,
    border-radius 250ms $time-distribution-function,
      box-shadow 250ms $time-distribution-function;
  }
}
.hover:hover,
.hover:focus {
  // 1px 4px 6px rgb(0 0 0 / 16%), 0 4px 4px rgb(0 0 0 / 6%), 0 1px 1px rgb(0 0 0 / 12%)
  box-shadow:  0px -13px 14px -11px rgba(238, 95, 234, 0.48) inset;
  border-radius: 28px 0px;
  cursor: pointer;
  transform: translateY(-20px);
  outline: transparent;
}

.event-frame {
  position: absolute;
  z-index: -1;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
  @media screen and (min-width: 320px) {
    width: 108px;
    height: 101px;
    top: -9px;
    right: -10px;
  }
  @media screen and (min-width: 768px) {
    width: 153px;
    height: 143px;
    top: -13px;
    right: -14px;
  }
}

.card-image {
  height: 161px;
  // height: auto;
  border-radius: 50px 0px;
  overflow-y: auto;
  @media screen and (min-width: 768px) {
    height: 227px;
  }
}
.align > p {
  padding-top: 5px;
}
.align{
  padding-bottom: 5px;
}
.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.event-date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: $secondary-color;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.event-location {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $secondary-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.button__icon {
  font-size: 13px;
  @media screen and (max-width: 1280px) {
    font-size: 11px;
  }
}
